@use 'utilities';

*,
:after,
:before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	margin-bottom: -50px;
	font-size: 1.8rem;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}

section {
	scroll-margin-top: 40px;
}
.container {
	margin: 0 auto;
	padding: 0 1em;
	width: 100%;
	max-width: 1400px;
}

a {
	text-decoration: none;
}

p {
	line-height: 180%;
}

.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgb(9, 114, 54);
	border-bottom: 1px solid #0b440b;
	z-index: 10;
	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 60px;
	}
	&__logo a {
		font-size: 1.5em;
		color: #fff;
		i {
			margin-right: 0.3em;
		}
	}
	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		top: 60px;
		right: 0;
		width: 100%;
		height: calc(100vh - 60px);
		transform: translateX(100%);
		background-color: #097236;
		opacity: 0;
		transition: transform 0.5s, opacity 0.5s;
		overflow: auto;
	}

	&--active {
		transform: translateX(0);
		opacity: (1);
	}

	&__item {
		display: inline-block;
		margin-top: 1.5em;
		font-size: 1.8rem;
		list-style: none;
	}
	&__item a {
		padding: 1em 2em;
		color: #fff;
		transition: color 0.3s;
		cursor: pointer;
	}
	&__item a:hover {
		background-color: #fff;
		color: #1b1b1b;
	}
}

.header {
	position: relative;
	margin-top: 60px;
	height: 100%;
	max-height: 700px;
	background-image: url('../../dist/img/jungle_1280.jpg');
	background-position: 50%;
	background-size: cover;
	z-index: 0;
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -1;
		content: '';
	}

	&__text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		height: 60vh;
		max-height: 600px;
		width: 100%;
		padding: 1em 0;
		padding-left: 3em;
		text-align: center;
		color: #fff;
		h1 {
			font-size: 2.8rem;
			font-weight: 700;
		}

		p {
			font-size: 2rem;
			font-weight: 200;
		}
	}
}

.aboutus {
	margin: 0 auto;
	padding: 3em 0;
}

.section-tittle {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.8em;
	padding-left: 0.5em;
	font-size: 2.4rem;
	color: #1b1b1b;
	font-weight: 200;
	text-transform: uppercase;
}

.aboutus-box {
	display: flex;
	flex-direction: column;

	&__img {
		margin: 1em auto 0;
		order: 1;
		width: 100%;
		max-width: 500px;
		border-radius: 8px;
	}

	&__text p {
		margin-bottom: 1em;
	}
}
div .aboutus-box__text::first-line {
	font-weight: 700;
}

.hero-img {
	position: relative;
	padding: 10em 2em;
	height: 100%;
	max-height: 100px;
	background-image: url('../../dist/img/girl-gd6a59b277_640.jpg');
	background-position: center;
	background-size: cover;
	z-index: 0;
	overflow: hidden;
	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		content: '';
		z-index: -1;
	}

	&__text {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		p {
			padding: 1em;
			font-size: 2.8rem;
			font-weight: 700;
			border: 1px solid #fff;
			color: #fff;
		}
	}
}

.offers {
	&__info {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: #1b1b1b;
		&-tittle {
			margin-top: 2.5em;
			margin-bottom: 0.1em;
			text-transform: uppercase;
			padding: 0.5em;
			font-size: 3.4rem;
			font-weight: 200;
		}
		&-text {
			font-size: 1.4rem;
			padding: 0.5em;
		}
	}

	&__card {
		position: relative;
		margin: 1em 0;
		height: 450px;
		color: #1b1b1b;
		text-align: center;

		&-info {
			padding: 2em;
			height: 100%;
			border-radius: 8px;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
			&-tittle {
				position: absolute;
				left: 50%;
				transform: translate(-50%);
				top: 1.2em;
				font-size: 2.8rem;
				font-weight: normal;
			}
			&-price {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 1.4em;
				padding: 0.2em 0;
				font-size: 5rem;
				font-weight: bold;
			}

			&-list {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 6em;
				margin: 0em auto;
				width: 70%;
				list-style: none;
				&-item {
					padding: 0.5em;
					font-size: 1.4rem;
					i {
						margin-right: 0.3em;
					}
					i.fa-check {
						color: rgb(9, 114, 54);
					}
					i.fa-minus {
						color: #d8d8d8;
					}
					&--off {
						color: #d8d8d8;
					}
				}
			}
			&-btn {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 2em;
				padding: 1em;
				border-radius: 8px;
				width: 60%;
				border: none;
				background-color: #fff;
				color: rgb(9, 114, 54);
				box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
				text-transform: uppercase;
				cursor: pointer;
				transition: background-color 0.3s, color 0.3s;
			}

			&-btn:hover {
				background-color: rgb(9, 114, 54);
				color: #fff;
			}
		}
	}

	&__box {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: start;
		padding: 0 2em;
		color: #1b1b1b;
		&-more {
			margin-bottom: 1em;
			&-tittle {
				margin-bottom: 1em;
				font-size: 2rem;
				letter-spacing: 2px;
			}

			&-text {
				font-size: 1.5rem;
				font-weight: 200;
			}

			&-btn {
				display: flex;
				align-self: start;
				white-space: nowrap;
				padding: 1em;
				border-radius: 8px;
				margin-top: 1em;
				background-color: rgb(9, 114, 54);
				color: #f5f5f5;
				font-size: 1.5rem;
				border: none;
				box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
				text-transform: uppercase;
				cursor: pointer;
				transition: background-color 0.3s, color 0.3s;
			}

			&-btn:hover {
				color: rgb(9, 114, 54);
				background-color: #fff;
			}
		}
	}
}



.services {
	display: flex;
	flex-wrap: wrap;
	gap: 1.5rem;
	margin: 4em 2em;

	&__title {
		margin-top: 2em;
	}
	&__box {
		display: flex;
		flex-wrap: wrap;
		gap: 1.5rem;
		&-service {
			flex: 1 1 30rem;
			border-radius: 0.5rem;
			background-color: #fff;
			padding: 2rem;
			text-align: center;
			border-radius: 8px;
			box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);

			i {
				color: rgb(9, 114, 54);
				font-size: 2rem;
				padding: 2em 0;
			}
			h3 {
				color: #1b1b1b;
				font-size: 1.5rem;
				padding-top: 1rem;
			}
			p {
				color: #1b1b1b;
				font-size: 1rem;
				padding: 1rem 0;
				line-height: 180%;
			}
		}
	}
}
.header {
	&__text-services {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.contact {
	width: 80%;
	margin: auto;
	margin-top: 3em;
	&__box {
		display: flex;
		justify-content: space-between;
		box-shadow: 0 1px 5px #acabab;
		padding: 3em 2em;
		margin: 3em 0;
		&-info {
			flex-basis: 48%;
			margin-bottom: 2em;
			&-item {
				display: flex;
				align-items: center;
				margin-bottom: 3em;
				i {
					font-size: 2rem;
					color: rgb(9, 114, 54);
					margin: 1em;
					margin-right: 2em;
				}
				h5 {
					font-size: 2rem;
					color: #1b1b1b;
					font-weight: 200;
					text-transform: uppercase;
				}
				p {
					font-size: 1.4rem;
					margin: 0;
					padding: 0;
					color: #9a9a9a;
				}
			}
			

			form {
				position: relative;
				margin-left: 1em;
				input,
				textarea {
					width: 100%;
					padding: 1.5em;
					margin-bottom: 1.7em;
					border-radius: 8px;
					outline: none;
					border: 1px solid #acabab;
					transition: border 0.3s;
					&:hover {
						border: 1px solid rgb(9, 114, 54);
					}
				}
				textarea {
					resize: vertical;
				}
			}
			
			&-button {
				padding: 1.2em;
				border-radius: 8px;
				border: none;
				box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
				background-color: transparent;
				color: rgb(9, 114, 54);
				cursor: pointer;
				transition: color 0.5s, background-color 0.5s;

				&:hover {
					color: #fff;
					background-color: rgb(9, 114, 54);
				}
			}
		}
	}
}

.location {
	width: 100%;
	margin: auto;
	padding: 0 4em;

	&__map {
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;
		height: 0;
		margin-top: 2em;
		margin-bottom: 4em;
		iframe {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
		}
	}
}
.footer {
	.push {
		height: 50px;
	}
	background-color: #f5f5f5;
	color: #1b1b1b;
	overflow: hidden;
	.container {
		padding: 6em 2em 2em;
	}
	&__box {
		white-space: nowrap;
		font-size: 1.4rem;

		&-desktop {
			display: none;
		}

		&-title {
			margin-bottom: 1em;
			font-size: 3rem;
			text-transform: uppercase;
		}
		&-text {
			font-size: 2.4rem;
		}
		&-social {
			margin: 1em 0 1em;
		}

		&-link {
			padding: 0 0.3em;
			font-size: 3.6rem;
			color: #1b1b1b;
			text-decoration: none;
			transition: color 0.3s;

			&:first-child {
				padding-left: 0;
			}
			&:hover {
				color: rgb(9, 114, 54);
			}
		}
	}

	&__bottom-text {
		padding: 2em;
		text-align: center;
	}
}