@media (min-width: 768px) {
	section .aboutus {
		padding: 5em 0;
	}
	#offers .offers {
		&__cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__card {
			margin: 1em;
			width: 45%;
		}
	}

	#contact .contact {
		&__box {
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;
			padding: 2em 0 0;

			&-one {
				padding: 0;
				margin: 0;
			}
			&-info {
				padding: 0 2em;
				&-tittle {
					font-size: 1.7em;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	#header .header__text {
		align-items: center;
	}
}
